#registration_block {
    background: #FFF;
    padding-bottom: 50px;
}

#registration_block img {
    display: block;
    width: 780.362px;
    
    margin: 25px auto;
}


#registration_block .postInputForm {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    width: 347px;

    /* Позиционирование напрямую зависит от width и margin*/
    margin: 15px auto;
    color: var(--Black, #000);
}

#registration_block > div {
    margin-right: 28px;
}

#registration_block .postInputForm input {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
    font-family: Montserrat Alternates;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    /* max-height: 72px; */
    padding: 19.356px 20.375px;
    width: 338px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#registration_block .postInputForm select {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
     font-family: Montserrat Alternates;
     font-size: 16.3px;
     font-style: normal;
     font-weight: 500;
     line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    height: 64.81px;
    
    padding: 19.356px 20.375px;
    width: 380px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    appearance: none;
    /* Не разобрался как поставить кастомную стрелочку select_arrow.png */
}

#registration_block input,select {
    margin-top: 16px;
}

#registration_block label {
    margin-top: 22px;
}


#registration .blackButton {
    /* Стили для надписи */
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* Стили самой кнопки */
    background-color: black;
    border-radius: 8.15px;
    border: 2.038px solid var(--Black, #000);
    background: var(--Black, #000);
    box-shadow: 6.1125px 6.1125px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20.375px 36.675px;
    width: auto;
    max-width: 250px;
    margin: 30px auto;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

#login .blackButton {
    /* Стили для надписи */
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* Стили самой кнопки */
    background-color: black;
    border-radius: 8.15px;
    border: 2.038px solid var(--Black, #000);
    background: var(--Black, #000);
    box-shadow: 6.1125px 6.1125px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20.375px 36.675px;
    
    width: auto;
    max-width: 250px;
    margin: 30px auto;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

#login .whiteButton {
    /* Стили для надписи */
    color: var(--Black, #000);
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* Стили самой кнопки */
    border-radius: 8px;
    border: 2px solid var(--Black, #000);
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20px 36px;
    width: 128px;
    margin: 30px auto 0;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}