#services {
    background-color: #FFF;

    height: 1000px;
    flex-shrink: 0;

}

#services h1 {
    padding-top: 53px;


    text-align: center;
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 64.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.284px;
}

#services h2 {
    padding-left: 50px;
    padding-top: 8px;
    color: var(--Black, #000);
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 32px */
}

.services_table_1 .flex-item img,
.services_table_3 .flex-item img {
    padding-left: 230px;
}

.services_table_2 .games img {
    padding-left: 393px;
}
.services_table_2 .ux_ui img {
    padding-left: 352px;
}

#services .mobile,
.games,
.defend,
.html {
    border-radius: 43.306px;
    background: #EFD2C3;
}

#services .model,
.motion,
.ux_ui,
.interior {
    border-radius: 43.306px;
    background: var(--Champagne, #F7EDE8);
}

#services .mobile,
.model,
.motion,
.defend,
.html,
.interior {
    padding-top: 10px;
    width: 425px;
    margin: 0 auto;
    border-radius: 43.306px;
}

#services .games,
.ux_ui {

    padding-top: 10px;
    width: 640px;
    margin: 20px auto;

    border-radius: 43.306px;
}

.services_table {
    width: 70%;
    margin: 50px auto;

}

.services_table_1,
.services_table_3 {
    display: flex;
    flex-basis: 425px;

}


.services_table_2 {
    display: flex;
    flex-basis: 681px;

}