.blackButton {
    /* Стили для надписи */
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* Стили самой кнопки */
    background-color: black;
    border-radius: 8.15px;
    border: 2.038px solid var(--Black, #000);
    background: var(--Black, #000);
    box-shadow: 6.1125px 6.1125px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20.375px 36.675px;
    width: 70px;
    margin: 30px auto 0;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.whiteButton {
    /* Стили для надписи */
    color: var(--Black, #000);
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* Стили самой кнопки */
    border-radius: 8px;
    border: 2px solid var(--Black, #000);
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20px 36px;
    width: 174px;
    margin: 30px auto 0;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.postInputForm {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* Позиционирование напрямую зависит от width и margin*/
    margin: 15px;
    width: 650px;
    color: var(--Black, #000);
    margin-right: auto;
    margin-left: auto;
}

.postInputForm input,
select {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
    font-family: Montserrat Alternates;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    width: 379.994px;
    padding: 19.356px 265.619px 19.844px 20.375px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.postInputForm select {
    appearance: none;
    /* Не разобрался как поставить кастомную стрелочку select_arrow.png */
}

/* 5 Картинок после кнопки "Начать" */
.gallery {
    margin: 70px auto 350px;
    width: 100%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery .box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300PX;

}

.gallery .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 373px;
    height: 480px;

    object-fit: cover;
}

#services {
    background-color: #FFF;

    height: 1000px;
    flex-shrink: 0;

}

#services h1 {
    padding-top: 53px;


    text-align: center;
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 64.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.284px;
}

#services .mobile,
.games,
.defend,
.html {
    border-radius: 43.306px;
    background: #EFD2C3;
}

#services .model,
.motion,
.ux_ui,
.interior {
    border-radius: 43.306px;
    background: var(--Champagne, #F7EDE8);
}

#services h2 {
    text-align: left;

    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 32px */
}

#services .mobile,
.model,
.motion,
.defend,
.html,
.interior {
    width: 425px;
    margin: 0 auto;
    /* padding: 43px 38px 14px 230px; */
    border-radius: 43.306px;
}

#services .games,
.ux_ui {
    /* width: 157px; */

    width: 640px;
    margin: 20px auto;

    border-radius: 43.306px;
}
.services_table {
    width: 70%;
    margin: 50px auto;
    
}
.services_table_1 {
    display: flex;
    flex-basis: 425px;

}

.services_table_1 .flex-item {
    text-align: center;

}

.services_table_2 {
    display: flex;
    flex-basis: 681px;

}

.services_table_3 {
    display: flex;
    flex-basis: 425px;
}