.create_order {
    border-radius: 8px;
    border: 2px solid var(--Black, #000);
    background: #FFF;
    box-shadow: 10px 10px 0px 0px #000;
    width: 570px;

}

.create_order img {
    display: block;
    width: 780.362px;
    margin: 25px auto;
}

.create_order h2 {
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 36.65px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36.65px */
    letter-spacing: -0.733px;
}

.create_order input,
select {
    margin-top: 16px;
}

.create_order label {
    margin-top: 22px;
}

.create_order .postInputForm {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    width: 347px;

    /* Позиционирование напрямую зависит от width и margin*/
    margin: 15px auto;
    color: var(--Black, #000);
}

.create_order>div {
    margin-right: 28px;
}

.create_order .postInputForm input {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
    font-family: Montserrat Alternates;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    /* max-height: 72px; */
    padding: 19.356px 20.375px;
    width: 338px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.create_order .postInputForm select {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
     font-family: Montserrat Alternates;
     font-size: 16.3px;
     font-style: normal;
     font-weight: 500;
     line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    height: 64.81px;

    padding: 19.356px 20.375px;
    width: 380px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    appearance: none;
    /* Не разобрался как поставить кастомную стрелочку select_arrow.png */
}

.create_order .blackButton {
    /* Стили для надписи */
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* Стили самой кнопки */
    background-color: black;
    border-radius: 8.15px;
    border: 2.038px solid var(--Black, #000);
    background: var(--Black, #000);
    box-shadow: 6.1125px 6.1125px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20.375px 36.675px;
    width: 174px;
    margin: 30px auto;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.create_order img {
    
    display: block;
    width: 480.362px;
    
    margin: 5px auto;
}


input:focus, select:focus{
  outline:solid  #CD4631;
  outline-width: 1px;
}