header {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}

header li {
    list-style: none;
    margin: 0 10%;
}

header nav {
    margin-top: 24px;
    display: flex;

    align-items: center;
}

header nav a {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.left_nav {
    /* margin-top: 27px; */
    display: flex;
}





.right_nav {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}



.leave {
    color: var(--Black, #000);
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;

    padding: 12px 24px;
    border-radius: 8px;
    border: solid var(--Black, #000);
}
