.window {

    margin-top: 50px;

    border-radius: 8px;
    border: 2px solid var(--Black, #000);
    background: #FFF;
    box-shadow: 10px 10px 0px 0px #000;
    width: 570px;

}

.window img {
    display: block;
    width: 780.362px;
    margin: 25px auto;
}

.window h2 {
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 36.65px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 36.65px */
    letter-spacing: -0.733px;
}

.window input,
select {
    margin-top: 16px;
}

.window label {
    margin-top: 22px;
}

.window .postInputForm {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    width: 347px;

    /* Позиционирование напрямую зависит от width и margin*/
    margin: 15px auto;
    color: var(--Black, #000);
}

.window>div {
    margin-right: 28px;
}

.window .postInputForm input {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
    font-family: Montserrat Alternates;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    /* max-height: 72px; */
    padding: 19.356px 20.375px;
    width: 338px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.window .postInputForm select {
    /* Стили для надписи */
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    /* color: var(--Davys-Grey, #4D4D4D);
     font-family: Montserrat Alternates;
     font-size: 16.3px;
     font-style: normal;
     font-weight: 500;
     line-height: 160%;*/

    /* Стили для самого поля */
    display: flex;
    flex-basis: auto;
    height: 64.81px;

    padding: 19.356px 20.375px;
    width: 380px;
    align-items: center;

    border-radius: 8.15px;
    border: 1.528px solid var(--Black, #000);
    /* border: 1.528px solid var(--Vermillion, #CD4631); color when active*/

    background: #FFF;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    appearance: none;
    /* Не разобрался как поставить кастомную стрелочку select_arrow.png */
}

.window .blackButton {
    /* Стили для надписи */
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 14.263px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* Стили самой кнопки */
    background-color: black;
    border-radius: 8.15px;
    border: 2.038px solid var(--Black, #000);
    background: var(--Black, #000);
    box-shadow: 6.1125px 6.1125px 0px 0px rgba(0, 0, 0, 0.25);

    padding: 20.375px 36.675px;
    width: 174px;
    margin: 30px auto;

    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.window img {

    display: block;
    width: 480.362px;

    margin: 5px auto;
}


input:focus,
select:focus {
    outline: solid #CD4631;
    outline-width: 1px;
}





.notifications {
    width: 538px;
    height: 409px;

}


.notification {
    border-radius: 5.088px;
    border: 0.848px solid var(--Black, #000);
    background: #F7EDE8;
    margin: 5px auto 0px;
    width: 438px;
    height: 78px;
    flex-shrink: 0;
}

.bar {
    display: flex;


    margin-left: 17px;
    margin-right: 38px;
}

.bar>.bell {
    width: 35.9px;
    margin-left: auto;
    margin-right: 0;
}



.notification h3 {
    display: inline-block;
    width: 230px;
    margin-left: 5px;
    color: var(--Vermillion, #CD4631);
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 21px */
    letter-spacing: -0.3px;

    text-align: center;
}

.notification>img {
    margin: -18px auto 0 6px;
    width: 167px;
    stroke-width: 0.212px;
    stroke: var(--Davys-Grey, #4D4D4D);
}


.notification-title {
    display: flex;
    width: 50%;
}

.notification-title img {
    margin-top: 16px;
    width: 15.621px;
    height: 15.621px;
    flex-shrink: 0;

}

.starbox>p {


    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 18.039px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;

    margin: 10px 0;
}

.starbox {
    display: flex;
}

.notification>p {

    color: var(--Davys-Grey, #4D4D4D);
    font-family: Montserrat Alternates;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;

    width: 400px;
    height: 33px;

    margin: 5px auto auto;

}